@import '@/styles/variables';

.container {
  .field {
    max-width: 500px;
    @include center();
    gap: 10px;
  }
  .section {
    max-width: 1200px;
    margin: 16px auto;
    padding: 0 16px;
    .content {
      display: flex;
      gap: 30px;
    }
    .leftContent {
      flex: 0.6
    }
    .rightContent {
      flex: 0.4;
    }
  }
  .skeletonContent {
    width: 60%;
    margin-bottom: 26px;
  }
}

@media (max-width: 1250px) {
  .container {
    .section {
      .leftContent {
        flex: 1
      }
      .rightContent {
        z-index: 1;
        max-width: 400px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
      }
      .skeletonContent {
        width: 100%;
      }
    }
  }
}

@media (max-width: 400px) {
  .container {
    .field img {
      display: none;
    }
  }
}