@import '@/styles/variables';

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-weight: 500;
  color: $gray-dark-color;
  background-color: $gray-light-color;
  padding: 16px 20px;
  margin-top: auto;
}